<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <script type="text/javascript" src="public/scripts/render_deck.js"></script>
  </head>
  <body>
    <div id="historic"></div>
    <div id="game">
    <div id="challengers"></div>
    <div id="middle"></div>
    <div id="deck"></div>
    <script>
        let deck = ["Ac", "Js", "3d", "4c","Qs", "3s", "4d", "5d", "8h", "9s", "As", "4s","Qs", "3c", "4d"];
        challengers = [["Étienne", 10], ["Valentin", 3]];
        middle = ["Ac", "As"];
        historic = [
          ["Étienne", ["Ac", "As"]],
          ["Valentin", ["Kc", "Ks"]],
          ["Étienne", ["4d", "4s"]]
        ];
        renderGame(challengers, middle, deck, historic);
    </script>
    </div>
  </body>
</html>
