<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/public/css/main.css">
      <script type="text/javascript" src="/public/scripts/render_deck.js"></script>
    </head>
    <body>
        <div id="historic"></div>
        <div id="game">
        <div id="challengers"></div>
        <div id="middle"></div>
        <div id="deck"></div>

        <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        <script>
            const elems = window.location.href.split('/');
            const uuid = elems[elems.length - 1];
            const socket = io();

            socket.emit('ready game', uuid);

            socket.on('update game', game => {
                renderGame(game.challengers, game.middle, game.deck, game.historic);
            });
        </script>
    </body>
</html>
