<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/lobby.css">
        <script type="text/javascript" src="public/scripts/render_lobby.js"></script>
    </head>
    <body>
        <div id="lobby">
            <div id="players"></div>
            <div id="shareLink"></div>
            <div id="startGame"></div>
        </div>
        <script>
            let players = ["Étienne", "Valentin"];
            let link = "foo.com";
            renderLobby(players, link);
        </script>
    </body>
</html>